body {
  background-color: rgb(34 , 56 , 67);
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: rgb(239 , 241 , 243);
  font-family: Kufam, cursive;
  margin: 0;
  margin-bottom: 10px;
  padding: 20px 0;
  text-align: center;
}

main {
  display: grid;
  font-family: Ubuntu Mono, monospace;
  grid-template-columns: 780px 499px;
  margin-bottom: 20px;
}

section {
  align-items: center;
  background-color: rgb(215 , 122 , 97);
  border-radius: 0 0 0 30px;
  color: rgb(219 , 211 , 216);
  display: grid;
  height: 500px;
  justify-content: center;
  padding: 20px;
}

.dbclick {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  transition: 0.4s;
}

form {
  background-color: rgb(216 , 180 , 160);
  color: rgb(34 , 56 , 67);
  display: block;
  padding: 10px;
  text-align: center;
}

input {
  border: none;
  width: 200px;
}

input::placeholder {
  font-family: Ubuntu, sans-serif;
  text-align: center;
}

button {
  border: none;
  color: rgb(34 , 56 , 67);
  cursor: pointer;
  font-family: Ubuntu, sans-serif;
  height: 40px;
  transition: 0.4s;
  width: 200px;
}

button:hover {
  background-color: rgb(34 , 56 , 67);
  color: white;
}

.text-button {
  margin-bottom: 10px;
}

.icons-button {
  background-color: rgb(219 , 211 , 216);
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

aside {
  background-color: rgb(216 , 180 , 160);
  border-radius: 0 30px 0 0;
  color: rgb(34 , 56 , 67);
  display: block;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
  text-decoration: underline overline;
}

li {
  cursor: pointer;
}

li:hover {
  font-size: 20px;
}

.selected {
  background-color: grey;
  color: white;
}

.completed {
  text-decoration: line-through solid black;
}

footer {
  border-top: 20px dotted rgb(239 , 241 , 243);
  text-align: center;
}

h3 {
  color: rgb(215 , 122 , 97);
  font-family: Ubuntu Mono, monospace;
}

.social-media {
  background-color: rgb(239 , 241 , 243);
  border: 3px solid rgb(216 , 180 , 160);
  margin: auto;
  padding: 10px;
  width: 300px;
}

.social-media a {
  display: inline-block;
  transition: 0.5s;
}

.social-media a:hover {
  transform: rotate(1turn);
}

.icons-link {
  color: rgb(239 , 241 , 243);
}

.icons-link a {
  color: rgb(239 , 241 , 243);
}
