body {
    background-image: url(https://miro.medium.com/max/3840/1*TkU7i6Jkr9iqQCELBmzbAQ.jpeg);
    background-size: 100%;
    width: 80%;
    margin: 0 auto;
/*     text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
}

#main {
    text-align: center;
    width: 80%;
    margin: auto;
}

ol {
    text-align: left;
}

.buttons {
    background-color: rgb(51, 114, 103);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    height: 35px;
    padding: 5px;
    width: 155px;
    border-radius: 15px;
    display: inline-block;
}

.list {
    text-align: left;
}

.hoover {
    background-color: rgb(128,128,128);
    text-align: left;
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}

/* .hooverCompleted {
    text-decoration: line-through solid rgb(0, 0, 0);
    background-color: rgb(128,128,128);
} */

p {
    background-color: rgb(217, 127, 51);
    padding: 5px;
    width: 50%;
    margin: 10px auto;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}