body{
    background-color: lightgrey;
}
.selecionado{
   background-color: rgb(128,128,128);
}
.completed{
    text-decoration:line-through solid rgb(0, 0, 0);
}
.notCompleted{
    text-decoration: none;
}