body {
  background: rgb(15 , 163 , 107);
  color: rgb(20 , 20 , 20);
  font-family: Arial , Helvetica , sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 , h2 {
  display: inline-block;
}

ol {
  text-align: left;
}

header {
  background: wheat;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 3px 3px 4px gray;
  vertical-align: middle;
  width: 100%;
}

.info {
  background-color: aquamarine;
  border-radius: 0 0 4px 4px;
  margin: 0 auto;
  padding: 4px;
  width: fit-content;
}

.main-container {
  background-color: cadetblue;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  padding-bottom: 20px;
  width: fit-content;
}

.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: rgb(128 , 128 , 128);
}
