body {
  background-color: white;
}

li {
  background-color: white;
}

.title {
  align-items: center;
  color: black;
  font-family: Open Sans Condensed, Arial Narrow Bold, Arial, Helvetica,
    sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin: 71px 541px 12px 542px;
}

.funcionamento {
  align-items: center;
  color: rgb(113 , 113 , 113);
  font-family: Open Sans Condensed, Arial Narrow Bold, Arial, Helvetica,
    sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
}

.completed {
  text-decoration-line: line-through;
}
