* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  text-transform: lowercase;
}
.cabecalho {
  background-color: rgb(1, 22, 39);
  color: rgb(253, 255, 252);
  padding: 50px 100px;
  width: 100%;
}
.titulo {
  font-size: 2.7em;
  width: 90%;
}
.function {
  color: rgb(231, 29, 54);
  font-size: 1.3em;
}
.container {
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 50px auto;
  min-height: 400px;
  padding: 50px;
  width: calc(90% - 60px);
}
.form {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
}
.task-list {
  color: rgb(231, 29, 54);
  font-size: 1.5em;
  margin-left: 50px;
  min-height: 100px;
}
.input-large {
  border-radius: 20px;
  border: solid 3px rgb(1, 22, 39);
  color: rgb(1, 22, 39);
  font-size: 1em;
  padding: 10px;
  margin-right: 10px;
  height: 20px;
  width: 500px;
}
.btn-large {
  background-color: rgb(1, 22, 39);
  border-radius: 20px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px;
  height: 40px;
  width: 180px;
}
.btn-large:hover{
  background-color:  rgb(61, 90, 128);
}
.btn-small {
  background-color: rgb(1, 22, 39);
  border-radius: 20px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px;
  height: 40px;
  width: 70px;
}
.btn-small:hover{
  background-color:  rgb(61, 90, 128);
}
.brackets {
  color: yellow;
}
.selected {
  background-color: rgb(128, 128, 128)
}
.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}
