body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border: none;
  font-family:'Ubuntu', sans-serif;
  padding: 20px;
  width: 1366px; 
}

.sub {
  color: #c9c9c9;
  font-size: 10pt;
}

.btn-newTask {
  background-color: rgb(8, 108, 190);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.btn-newTask:hover {
  background-color: rgb(4, 127, 228);
}

.created {
  color: #c9c9c9;
  font-size: 10pt;
  text-align: center;
}

.btn-trash{
  background-color: rgb(190, 8, 63);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.btn-trash:hover {
  background-color: rgb(255, 7, 81);
}

.selected {
  background-color: rgb(128, 128, 128);
  cursor: pointer;
}
.task {
 cursor: pointer;
}

.btn-down {
  background-color: rgb(255, 187, 0);
  border: none;
  cursor: pointer;
  padding: 5px;
}

.btn-down:hover{
    background-color: rgb(250, 216, 123);
}

.btn-up {
  background-color: rgb(0, 195, 255);
  border: none;
  cursor: pointer;
  padding: 5px;
}

.btn-up:hover {
  background-color: rgb(125, 225, 255);
}

.btn-save {
  background-color: rgb(6, 199, 80);
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.btn-save:hover {
  background-color: rgb(7, 248, 99);
}