.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}

body {
  background-color: rgb( 240 , 240 , 240 );;
}

li {
  background-color: rgb( 240 , 240 , 240 );
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px 10px;
  width: 200px;
}

ol {
  background-color: rgb( 200 , 200 , 200 );
  padding: 10px 30px;
  width: 250px;
}
