body {
    background-color: wheat;
    margin: 0;
}

header{
    text-align: center;
}

.color {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}
