header {
  font-family: Verdana, Tahoma, sans-serif;
  height: 10%;
  width: 100%;
}

.completed {
  text-decoration: line-through;
}

.button {
 cursor: pointer;
 font-family: Verdana, Tahoma, sans-serif; 
}

.selected { 
  background-color: rgb(128, 128, 128);
}

