#selected {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}

#aplicativo {
    width: 600px;
    border: 5px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
  }

  #lista-tarefas {
      width: 80%;
      padding: 20px;
      margin-left: 30px;
  }

  h1 {
      text-align: center;
      margin-top: 5%;
  }