body {
  background-image: url('./imgs/todoList.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  visibility: hidden;
}

.principal {
  margin-left: 750px;
  margin-top: 40px;
}

.texto-tarefa {
  background-color: rgba(0 , 0 , 0 , 0.2);
  border: none;
  line-height: 30px;
  width: 60%;
}

.lista {
  box-shadow: 3px 3px 3px 3px gray;
  margin-top: 10px;
  min-height: 300px;
  width: 75%;
}

.lista-tarefas {
  background-color: rgba(255 , 255 , 255 , 0);
  display: inline-flex;
  flex-flow: wrap column;
  font-family: 'Cormorant Upright', Times, serif;
  font-size: 1.5em;
}

.cria {
  display: inline-flex;
  width: 113%;
}

.botoes {
  margin-top: 10px;
  width: 90%;
}

button {
  background-color: rgb(48 , 103 , 108);
  border: 1px solid rgb(48 , 103 , 108);
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  line-height: 25px;
  margin: 4px;
}

.cria-tarefa {
  background-color: rgba(255 , 255 , 255 , 0);
  border: none;
  height: 32px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  width: 32px;
}

li {
  background-color: rgba(255 , 255 , 255 , 0.1);
}

.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}
